.pronostico-5dias {
    margin-top: 20px;
    text-align: center;
    color: white;
  }
  
  .pronostico-5dias h2 {
    margin-bottom: 10px;
  }
  
  .contenedor-dias {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .tarjeta-dia {
    background: rgba(0, 0, 0, 0.5);
    padding: 12px;
    border-radius: 12px;
    width: 90px;
  }
  
  .tarjeta-dia p {
    margin: 5px 0;
  }
  
  .tarjeta-dia img {
    width: 50px;
    height: 50px;
  }
  